// ==================Banner section==================
.banner {
  position: relative;

  .carousel-img {
    .cover-images-overlay {
      position: absolute;
    }

    img {
      width: 100%;
      height: 680px;
    }
  }

  .container {
    .carousel-caption {
      text-align: start;
      top: 125px;
      font-family: $raleway-font;

      h4 {
        font-size: 22px;
        position: relative;
        margin-bottom: 30px;

        &::after {
          content: "";
          background-color: $whiteColor;
          width: 320px;
          height: 1px;
          position: absolute;
          top: 90%;
          left: 0;
        }
      }

      h1 {
        font-size: 62px;
        margin-bottom: 45px;
        margin-top: -15px;
        font-weight: 800;
        line-height: 82px;
      }
    }
  }

  .banner-card {
    margin-top: -110px;
    font-family: $raleway-font;

    .card {
      padding: 40px 10px 40px 40px;
      border-radius: 0;
      border: none;
      box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 18%);

      img {
        background-color: $secondaryColor;
        width: 25%;
        padding: 10px;
        border-radius: 0;
      }

      .card-body {
        margin-top: 25px;
        padding: 0;

        .card-title {
          font-weight: 700;
        }
      }
    }

    form {
      border: 1px dashed $secondaryColor;
      padding: 5px 5px 5px 10px;
      width: 70%;

      input#solution {
        width: 80%;
        border: none;
        outline: none;
        padding-right: 10px;
      }

      input#solution::placeholder {
        white-space: nowrap;
      }

      input#submit {
        width: 20%;
        border: none;
        outline: none;
        background-color: $secondaryColor;
        color: $whiteColor;
        padding: 5px;
      }
    }
  }
}

// ==================About Company section==================
.about-company {
  font-family: $raleway-font;

  .images {
    position: relative;

    .img-one {
      height: 470px;
    }

    .img-tow {
      position: absolute;
      right: -30px;
      bottom: -20px;
      width: 80%;
    }
  }

  .company-details {
    position: relative;
    margin-left: 50px;

    .semi-title {
      h6 {
        margin-left: 35px;
      }
    }

    h1 {
      margin: 30px 0px 40px 0px;
    }

    p {
      line-height: 28px;
      margin-bottom: 50px;
    }

    .company-list {
      margin-bottom: 50px;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        li {
          display: flex;
          align-items: center;
          column-gap: 10px;

          .square {
            @include square-style;
          }
        }
      }
    }

    button {
      font-family: $raleway-font;
    }

    .company-videos {
      column-gap: 60px;
    }
  }
}

// ==================Find Government Services Section=================
.government-service {
  background-color: $WhiteSmokeColor;
  padding: 100px 0px;

  .card {
    padding: 40px 10px 40px 40px;
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 9%);

    img {
      background-color: $secondaryColor;
      width: 25%;
      padding: 10px;
      border-radius: 0;
    }

    .card-body {
      margin-top: 25px;
      padding: 0;

      .card-title {
        font-weight: 600;
      }
    }

    .card-footer {
      margin-top: 20px;
    }

    &:hover .card-btn {
      border: 1px dashed $secondaryColor;
    }
  }
}

// =================Our Dedicated Investigators===========================
.our-investigators {
  .card-body {
    margin-top: -230px;

    ul {
      li {
        background-color: $whiteColor;
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
        text-align: center;
        transition: background-color 0.3s ease;
      }
    }

    .share-btn {
      background-color: $secondaryColor;
      color: $whiteColor;
      width: 30px;
      height: 30px;
    }

    .info {
      background-color: $blackColor;
      color: $whiteColor;
      transition: background-color 0.3s ease;
    }

    &:hover .info {
      background-color: $secondaryColor;
    }
  }
}

// ==============Best City Government & Municipal Service Based On USA===================
section {
  .best-city-government {
    position: relative;

    .images-and-overlay {
      position: relative;

      .cover-images-overlay-tow {
        position: absolute;
      }

      img {
        width: 100%;
      }
    }

    .container {
      .best-ciy-service-information {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -18%);
        width: 84%;

        .city-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          margin: auto;

          .videos-style {
            justify-content: center;
            display: flex;
            margin-bottom: 20px;
          }

          h1 {
            color: $whiteColor;
            margin-top: 50px;
          }
        }

        .footer-content {
          background-color: $whiteColor;
          padding: 90px 60px;

          ul {
            li {
              margin: 20px 0;

              .divide-row {
                margin: 20px 0;
                transition: all 1s ease-out;
              }

              a {
                color: $raisinBlackColor;
                font-family: $jost-font;
                font-weight: 500;
                font-size: 20px;
                list-style: 24px;
                transition: all 1s ease-out;

                i {
                  display: none;
                  transition: all 1s ease-out;
                }
              }

              &:hover .divide-row {
                background-color: $secondaryColor;
              }

              &:hover a {
                color: $secondaryColor;
              }

              &:hover a i {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// ======================Sponsor Company Logo==========================
.brand-logo {
  margin-top: 550px;

  .divide-row {
    margin-bottom: 80px;
    height: 0.5px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
}

.upcaming-city {
  background-color: $whiteSmokeColorTow;
  .container {
    .upcaming-evevnts-card {
      .card {
        .card-body {
          a {
            font-size: 20px;
            color: $whiteColor;
            cursor: pointer;
            .card-footer {
              background-color: $secondaryColor;
              border-radius: 2px;
              position: relative;
              width: 40px;
              height: 40px;
              align-items: center;
              display: flex;
              justify-content: center;
              &::before {
                position: absolute;
                content: "";
                top: 5px;
                left: 5px;
                border-radius: 2px;
                width: 40px;
                height: 40px;
                margin: 0;
                padding: 0;
                border: 1px dotted $secondaryColor;
              }
              &:hover::before {
                animation: animName 5s linear infinite;

                @keyframes animName {
                  0% {
                    transform: rotate(0deg);
                  }
                  100% {
                    transform: rotate(360deg);
                  }
                }
              }
            }
          }
          .info {
            ul {
              li {
                color: $DavysGrayColor;
                font-family: $jost-font;
                font-size: 15px;
                line-height: 34px;
                i {
                  color: $secondaryColor;
                }
              }
            }
          }
        }
        &:hover .card-body a .card-footer {
          background-color: transparent;
        }
        &:hover .card-body a .card-footer i {
          color: $secondaryColor;
        }
      }
    }
    .download-city {
      h2 {
        margin-bottom: 40px;
      }
      .card {
        background-color: $secondaryColor;
        .eyes-download-icons {
          span {
            i {
              font-size: 20px;
            }
          }
          .download-icons {
            background-color: $whiteColor;
            padding: 7px 12px;
            border-radius: 50%;
            i {
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }
}

// =================Goodwords From People===========================
.our-testimonials {
  .container {
    .testimonial-slider {
      .slick-dots li button:before {
        font-size: 40px;
      }
      .card {
        .testi-single-box {
          position: relative;
          border-radius: 2px;
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.07);
          margin: 0 0px;
          z-index: 1;
          transition: 0.9s all;
          &:after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background: $secondaryColor;
            top: 0;
            left: 0;
            border-radius: 2px;
            z-index: -1;
            transition: 0.5s;
            transform: scale(0.2, 1);
            opacity: 0;
          }
          &:hover:after {
            transform: scale(1);
            opacity: 1;
          }
          > i {
            font-size: 40px;
            color: rgb(73, 84, 94);
          }
          ul {
            li {
              color: $secondaryColor;
            }
          }
          &:hover ul li {
            color: goldenrod;
          }
          .name-title {
            h3 {
              color: $secondaryColor;
            }
          }
          &:hover .name-title h3 {
            color: $blackColor;
          }
        }
        .small-box-border {
          position: absolute;
          content: "";
          top: 10px;
          left: 10px;
          border-radius: 2px;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: 1px dotted $secondaryColor;
          z-index: -1;
        }
      }
    }
  }
}
// =================Explore our beautiful city highlights photos===========================
.city-highlights-photos {
  background-color: $EigengrauColor;
  padding-top: 100px;
  padding-bottom: 0px;
  max-height: 500px;
  .container-fluid {
    .Portfolio-header {
      .visit-link {
        a {
          background-color: $secondaryColor;
          padding: 20px 40px;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
    .card {
      overflow: hidden;
      img {
        transition: transform 2s;
      }
      &:hover img {
        transform: scale(1.1);
      }
      .image-title {
        background-color: $EigengrauColor;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 93%;
        .button-background-color {
          width: 14%;
          height: 100%;
          position: absolute;
          right: 0;
          align-items: center;
          display: flex;
          justify-content: center;
          background-color: $secondaryColor;
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);

          button {
            outline: none;
            border: none;
            padding: 0px 4px;
            border-radius: 50%;
            i {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

// =================Latest From Our Newsroom=================
.Newsroom {
  margin-top: 250px;
  .container {
    .card {
      box-shadow: 2px 2px 20px 2px #0000001a;
      .card-body {
        .date-comment {
          .date {
            background-color: $secondaryColor;
            -webkit-clip-path: polygon(
              71% 0,
              100% 19%,
              70% 21%,
              69% 100%,
              0 100%,
              0 0
            );
            clip-path: polygon(69% 0, 100% 34%, 70% 33%, 69% 100%, 0 100%, 0 0);
            display: inline-block;
            padding: 2px 40px 2px 20px;
            margin-top: -35px;
            justify-content: start;
            text-align: start;
          }
        }
      }
    }
  }
}

// ================Responsive=======================
@media (min-width: 240px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
