// ==============Home three banner section==============
.home-three.banner-card {
  font-family: "Raleway", sans-serif;
  margin-top: 0px;
  background-color: $bannerBgColor;
  padding: 100px 0px 50px 0px;
  .card {
    padding: 34px 10px;
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18);
    transition: 0.5s;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-top: 0;
    z-index: 50;
    .double-img {
      position: relative;
      img {
        width: 100%;
        padding: 10px;
        border-radius: 0;
        transition: 0.5s;
        margin: 0 auto;
        border: 1px dotted $SilverColor;
        background-color: white;
      }
      .active {
        background-color: $secondaryColor;
      }
      .top-two-img {
        position: absolute;
        opacity: 0;
        left: 0;
      }
    }
    &:hover img {
      background-color: $secondaryColor;
    }
    &:hover .top-two-img {
      opacity: 1;
    }
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: $whiteColor;
      top: -20px;
      rotate: 45deg;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      border-bottom: 5px solid $secondaryColor;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scaleX(0);
      transition: transform 0.9s ease;
    }
  }
}

// ===========home-three giment-city===========
.home-three.giment-city {
  .company-details {
    margin: 0;
    .company-list {
      margin-bottom: 25px;
    }
    .city-development {
      position: relative;
      margin-bottom: 30px;
      .progress {
        .progress-bar {
          width: 75%;
          animation: progress-width;
          animation-duration: 5s;
        }
        @keyframes progress-width {
          0% {
            width: 0%;
          }
          100% {
            width: 75%;
          }
        }
        .number {
          position: absolute;
          right: 30px;
          bottom: 20px;
          z-index: 99;
          opacity: 99;
          color: black;
          font-size: 20px;
        }
      }
    }
  }
}
// =========Best City Government & Municipal Service Based On USA=========
.home-three {
  .download-city {
    background-color: rebeccapurple;
    .card {
      flex: 1;
      background-color: $homeThreeDownloadCardBgColor;
      .eyes-download-icons {
        span {
          position: relative;
          i {
            color: $secondaryColor;
          }
          .eye-one {
            transition: all 0.5s ease;
          }
          .eye-two {
            position: absolute;
            left: 0;
            opacity: 0;
            transition: all 0.5s ease;
          }
        }
        .download-icons {
          cursor: pointer;
          background: white;
          width: 40px;
          height: 40px;
          justify-content: center;
          text-align: center;
          align-items: center;
          display: flex;
          border-radius: 50%;
          border: 1px solid rgba(139, 69, 19, 0);
          transition: all 0.5s ease;
        }
      }
      h3 {
        color: $secondaryColor;
      }
      &:hover .eyes-download-icons span .eye-two {
        opacity: 1;
      }
      &:hover .eyes-download-icons span .eye-one {
        opacity: 0;
      }
      &:hover .eyes-download-icons .download-icons {
        border-color: saddlebrown;
      }
    }
    .bg-secondary-custom {
      background-color: $secondaryColor;
      h2 {
        color: $whiteColor;
      }
    }
  }
}

.home-three.services-programs-initiatives {
  .section-title {
    margin-bottom: 150px;
  }
  .card {
    position: relative;
    .card-body {
      background-color: $whiteColor;
      transition: all 0.5s ease;
      margin: 0px 20px;
      position: absolute;
      top: -90px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .body-img {
        display: flex;
        justify-content: end;
        .top-images {
          background-color: $whiteColor;
          border-radius: 50%;
          box-shadow: 3px 1px 5px 0px;
          padding: 15px;
          justify-content: center;
          display: flex;
          align-items: center;
          img {
          }
        }
      }
      .card-footer {
        a {
          color: $secondaryColor;
          text-decoration: underline;
        }
      }
    }
    &:hover .card-body {
      background-color: $secondaryColor;
      color: $whiteColor;
      .card-text {
        color: $whiteColor;
      }
      .card-footer {
        a {
          color: $whiteColor;
        }
      }
    }
  }
  p {
    font-family: $josefin-font;
    a {
      color: $secondaryColor;
      text-decoration: underline;
    }
  }
}
// ==========Our Department==========
.department {
  position: relative;
  .bg-images {
    width: 55%;
    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $secondaryColor;
      top: 10px;
      left: 20px;
      right: 0;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      z-index: -1;
    }
  }
  .department-content {
    background-color: $secondaryColor;
    padding: 50px;
    margin-left: 250px;
    position: absolute;
    bottom: 0;
    z-index: 11;

    .div-title {
      .semi-title {
        color: $whiteColor;
      }
      .section-title {
        h1,
        p {
          color: $whiteColor;
        }
        h1 {
          font-size: 40px;
        }
      }
      .cityWall-btn-two {
        a {
          background: $buttonBgColor;
        }
      }
    }
    ul {
      row-gap: 20px;
      display: flex;
      flex-direction: column;
      li {
        a,
        span,
        i {
          color: $whiteColor;
          transition: all 0.5s ease;
        }
        .divide-row {
          background-color: $whiteColor;
          transition: all 0.5s ease;
        }
        &:hover .divide-row {
          background-color: $primaryColor;
        }
        &:hover i {
          color: $primaryColor;
        }
      }
    }
  }
}
// ================Beautiful Portfolio=================
.beautiful-Portfolio {
  .beautiful-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .second-column,
    .three-column {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    .item {
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
      img {
        width: 100%;
        height: 100%;
        transition: all 0.8s ease;
        // overflow: hidden;
      }
      &:hover img {
        scale: 1.1;
      }
      .added-icons {
        i {
          display: none;
          transition: all 0.5s ease;
        }
      }
      &:hover {
        i {
          background-color: rgb(227 209 188 / 44%);
          width: 90%;
          height: 90%;
          font-size: 30px;
          font-weight: bolder;
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
}

/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */

@media screen and (min-width: 320px) and (max-width: 576px) {
  .home-three.giment-city .company-details .city-development h3 {
    margin-bottom: 40px;
  }
  .home-three.services-programs-initiatives .card {
    margin-bottom: 100px;
  }
  .department .department-content {
    padding: 20px;
    margin-left: 0px;
    bottom: 0;
    width: 90%;
    margin-right: 0px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
  .department .bg-images {
    width: 100%;
  }
  section.department img {
    min-height: 1200px;
  }
  .beautiful-Portfolio .beautiful-images {
    gap: 10px;
  }
  .beautiful-Portfolio .beautiful-images .second-column,
  .beautiful-Portfolio .beautiful-images .three-column {
    row-gap: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .home-three.giment-city .company-details .city-development h3 {
    margin-bottom: 30px;
  }
  .home-three.services-programs-initiatives .card {
    margin-bottom: 100px;
    align-items: center;
  }
  .department .department-content {
    margin-left: 100px;
  }
  .department .bg-images {
    width: 100%;
  }
  section.department img {
    min-height: 1200px;
  }
  .beautiful-Portfolio .beautiful-images {
    gap: 10px;
  }
  .beautiful-Portfolio .beautiful-images .second-column,
  .beautiful-Portfolio .beautiful-images .three-column {
    row-gap: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-three .download-city .card h3 {
    line-height: 35px;
  }
  .home-three.services-programs-initiatives .card .card-body {
    margin: 0px 0px;
    position: static;
  }
  .department .bg-images {
    width: 100%;
  }
  section.department img {
    min-height: 1000px;
  }
  .beautiful-Portfolio .beautiful-images {
    gap: 10px;
  }
  .beautiful-Portfolio .beautiful-images .second-column,
  .beautiful-Portfolio .beautiful-images .three-column {
    row-gap: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  section.department img {
    min-height: 800px;
  }
  .department .bg-images::after {
    top: 90px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
}
