.home-two {
  .banner-card {
    .card {
      background-color: $EigengrauColor;
      color: $whiteColor;
      .card-text {
        color: rgba(255, 255, 255, 0.646);
      }
      &::before {
        border-bottom: 5px solid $secondaryColor;
      }
    }
  }
  .government-service {
    background-color: $bgThirdColor;
    .card {
      background-color: $cardThirdColor;
      color: $GainsboroColor;
      img {
        background-color: $bgThirdColor;
        transition: 0.5s ease-out;
      }
      &:hover img {
        background-color: $secondaryColor;
      }
      .card-footer {
        background-color: $cardThirdColor !important;
      }
    }
  }
  article .footer-content {
    background-color: $richBlack;
    border-top: 1px solid $secondaryColor;
    ul li a {
      color: $GainsboroColor;
    }
  }
  .upcaming-city {
    background-color: $EigengrauFooterColor;
    .upcaming-evevnts-card .card-title {
      color: $GainsboroColor;
    }
    .download-city {
      background-color: $richBlack;
      h2 {
        color: $GainsboroColor;
      }
      .card {
        background-color: $EigengrauFooterColor;
        .eyes-download-icons i {
          color: $secondaryColor !important;
        }
        h6 {
          color: $DavysGrayColor !important;
        }
      }
    }
  }
  .our-testimonials {
    .card {
      background-color: $EigengrauColor;
      ul.d-flex.column-gap-3 {
        margin: 10px 0px;
      }
      .name-title h6 {
        color: #b59a6d;
      }
      .testi-single-box:hover .name-title h6 {
        color: #000;
      }
    }
  }
  .city-highlights-photos {
    background-color: $EigengrauColor;
  }
  .newsroom {
    .card,
    .card-footer {
      background-color: $EigengrauFooterColor !important;
    }
  }
  .to-top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    &.active {
      opacity: 1;
      bottom: 2rem;
      pointer-events: auto;
    }
  }
}
