header {
    position: relative;

    .top-header {
        font-family: $jost-font;
        display: flex;
        margin: auto;
        justify-content: center;

        .top-header-content {
            background-color: $blackColor;
            color: $whiteColor;
            padding: 18px 0px;
            width: 100%;

            .container {
                .contact-top-information {
                    padding-left: 255px;

                    a {
                        color: $whiteColor;
                    }

                    .mobile-number-email {
                        column-gap: 80px;
                    }

                    .language-socialLink {
                        .language {
                            margin-right: 50px;

                            select#language {
                                border: none;
                                background: transparent;
                                outline: none;
                                color: $whiteColor;

                                option {
                                    background-color: $blackColor;
                                }
                            }
                        }

                        .socialLink {
                            ul {
                                margin-left: 15px;
                                column-gap: 15px;
                            }
                        }
                    }
                }
            }

        }
    }

    .navbar-details {
        font-family: $roboto-font;
        font-weight: bold;
        padding: 9.8px 0px;

        .container {
            padding-left: 265px;

            .brand-logo {
                background-color: #b59a6d;
                width: 100%;
                position: absolute;
                max-width: 25%;
                left: 0;
                z-index: 1;
                clear: both;
                top: -76px;

                a {
                    display: flex;
                    padding: 56.5px 0px;
                    float: right;
                    padding-right: 100px;

                    img {
                        height: 50px;
                        width: 200px;
                    }
                }

                .brand-style {
                    @include brand-style-css;
                }
            }

            .nav-item {
                .nav-link {
                    color: $blackColor;
                    padding: 0px;

                    span,
                    i {
                        border-bottom: 1px solid transparent;
                    }

                    i {
                        padding-left: 10px;
                        margin-top: 5px;
                    }

                    &:hover span {
                        border-bottom: 1px solid $blackColor;
                        color: $secondaryColor;
                    }

                    &:hover i {
                        border-bottom: 1px solid $redColor;
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
}




// ==============Responsive classes==============
@media (max-width: 576px) {
    header .top-header .top-header-content {
        padding: 10px 0px;
    }

    header .top-header {
        flex-direction: column;
    }

    header .top-header .top-header-content .container .contact-top-information {
        padding-left: 0;
        flex-direction: column;
        grid-gap: 10px;
    }

    header .top-header .top-header-content .container .contact-top-information .language-socialLink .language {
        margin-right: 11px;
    }

    header .top-header .top-header-content .container .contact-top-information .mobile-number-email {
        column-gap: 40px;
        justify-content: space-between;
    }

    header .top-header .top-header-content .container .contact-top-information .language-socialLink .socialLink ul {
        column-gap: 6px;
    }

    header .navbar-details .container {
        padding-left: 12px;
    }

    div#navbarSupportedContent {
        background-color: white;
        margin-top: 10px;
    }

    .language-socialLink {
        justify-content: space-between;
    }

    header .navbar-details .container .brand-logo a {
        padding: 10px 0px;
        padding-right: 10px;
    }

    header .navbar-details .container .brand-logo {
        background-color: #b59a6d;
        width: fit-content;
        position: static;
        max-width: fit-content;
    }

    header .navbar-details .container .brand-logo a img {
        height: 30px;
        width: 120px;
    }


}

@media (min-width: 577px) and (max-width: 768px) {
    header .top-header .top-header-content {
        padding: 5px 0px;
    }

    header .top-header {
        flex-direction: column;
    }

    header .top-header .top-header-content .container .contact-top-information {
        padding-left: 0;
        flex-direction: column;
        grid-gap: 10px;
    }

    header .top-header .top-header-content .container .contact-top-information .language-socialLink .language {
        margin-right: 11px;
    }

    header .top-header .top-header-content .container .contact-top-information .mobile-number-email {
        column-gap: 40px;
        justify-content: space-between;
    }

    header .top-header .top-header-content .container .contact-top-information .language-socialLink .socialLink ul {
        column-gap: 6px;
    }

    header .navbar-details .container {
        padding-left: 0px;
    }

    div#navbarSupportedContent {
        background-color: white;
        margin-top: 10px;
    }

    .language-socialLink {
        justify-content: space-between;
    }

    header .navbar-details .container .brand-logo a {
        padding: 10px 0px;
        padding-right: 10px;
    }

    header .navbar-details .container .brand-logo {
        background-color: #b59a6d;
        width: fit-content;
        position: static;
        max-width: fit-content;
    }

    header .navbar-details .container .brand-logo a img {
        height: 30px;
        width: 120px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    header .top-header .top-header-content {
        padding: 5px 0px;
    }

    header .top-header {
        flex-direction: column;
    }

    header .top-header .top-header-content .container .contact-top-information {
        padding-left: 0;
        flex-direction: column;
        grid-gap: 10px;
    }

    header .top-header .top-header-content .container .contact-top-information .language-socialLink .language {
        margin-right: 11px;
    }

    header .top-header .top-header-content .container .contact-top-information .mobile-number-email {
        column-gap: 40px;
        justify-content: space-between;
    }

    header .top-header .top-header-content .container .contact-top-information .language-socialLink .socialLink ul {
        column-gap: 6px;
    }

    header .navbar-details .container {
        padding-left: 0px;
    }

    div#navbarSupportedContent {
        background-color: white;
        margin-top: 10px;
    }

    .language-socialLink {
        justify-content: space-between;
    }

    header .navbar-details .container .brand-logo a {
        padding: 10px 0px;
        padding-right: 10px;
    }

    header .navbar-details .container .brand-logo {
        background-color: #b59a6d;
        width: fit-content;
        position: static;
        max-width: fit-content;
    }

    header .navbar-details .container .brand-logo a img {
        height: 30px;
        width: 120px;
    }
}

@media (min-width: 993px) and (min-width: 1200px) {}

@media (min-width: 1200px) and (max-width: 1400px) {}