header {
  position: relative;

  .top-header {
    font-family: $jost-font;

    .top-header-content {
      background-color: $blackColor;
      color: $whiteColor;
      padding: 18px 0px;
      width: 100%;

      .contact-top-information {
        padding-left: 255px;

        a {
          color: $whiteColor;
        }

        .mobile-number-email {
          column-gap: 80px;

          a {
            .phone {
              background: $whiteColor;
              color: $blackColor;
              padding: 1px 3px;
              border-radius: 4px;
              transition: 2s;
            }
            &:hover .phone {
              background-color: $secondaryColor;
              color: $whiteColor;
            }
          }
          a {
            .email {
              background: $whiteColor;
              color: $blackColor;
              padding: 1px 3px;
              border-radius: 2px;
              transition: 2s;
            }
            &:hover .email {
              background-color: $secondaryColor;
              color: $whiteColor;
            }
          }
        }

        .language-socialLink {
          .language {
            margin-right: 50px;

            select#language {
              color: $whiteColor;
              border: none;
              background: rgba(0, 0, 0, 0);
              outline: none;
              cursor: pointer;

              option {
                background-color: $blackColor;
              }
            }
          }

          .socialLink {
            ul {
              margin-left: 15px;
              column-gap: 15px;
              li:nth-child(even) {
                width: 20px;
                background: $secondaryColor;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */

@media screen and (min-width: 320px) and (max-width: 576px) {
}

@media screen and (min-width: 576px) and (max-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 992px) {
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
}
