.navbar-details {
  font-size: 16px;
  background-color: $whiteColor;
  font-family: $roboto-font;
  font-weight: bold;
  padding: 9.8px 0px;

  .container {
    padding-left: 265px;

    .brand-logo {
      background-color: $secondaryColor;
      position: absolute;
      top: -77px;
      left: 0;
      padding-right: 80px;
      height: 164px;

      a {
        display: flex;
        padding: 57px 20px;
        float: right;
        padding-right: 100px;

        img {
          width: 130px;
        }
      }

      .brand-style {
        @include brand-style-css;
      }
    }

    .nav-item {
      .nav-link {
        color: $blackColor;
        padding: 0px;

        span,
        i {
          border-bottom: 1px solid transparent;
        }

        &:hover span {
          border-bottom: 1px solid $blackColor;
          color: $secondaryColor;
        }

        &:hover i {
          border-bottom: 1px solid $dangerColor;
          color: $secondaryColor;
        }
        .dash-icons {
          display: none;
        }
        .plus-icons {
          display: none;
        }
      }
    }
  }
}

/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */

@media screen and (min-width: 320px) and (max-width: 576px) {
  .navbar-details .container .brand-logo a {
    padding: 5px 8px;
    float: right;
    padding-right: 0px;
  }
  .navbar-details .container .brand-logo {
    padding-right: 15px;
    height: 45px;
    top: 8px;
  }
  .navbar-details .container .nav-item .nav-link .dash-icons {
    display: block;
  }
  .navbar-details .container .nav-item .nav-link .plus-icons {
    display: block;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 992px) {
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
}
