.navbar-details {
  font-size: 16px;
  background-color: $whiteColor;
  font-family: $roboto-font;
  font-weight: bold;
  padding: 9.8px 0px;

  .container {
    padding-left: 265px;

    .brand-logo {
      background-color: $secondaryColor;
      position: absolute;
      top: -77px;
      left: 0;
      padding-right: 80px;
      height: 164px;

      a {
        display: flex;
        padding: 57px 20px;
        float: right;
        padding-right: 100px;

        img {
          width: 130px;
        }
      }
    }

    .nav-item {
      .nav-link {
        color: $blackColor;
        padding: 0px;

        span,
        i {
          border-bottom: 1px solid transparent;
        }

        &:hover span {
          border-bottom: 1px solid $blackColor;
          color: $secondaryColor;
        }

        &:hover i {
          border-bottom: 1px solid $dangerColor;
          color: $secondaryColor;
        }
        .dash-icons {
          display: none;
        }
        .plus-icons {
          display: none;
        }
      }
    }
  }
}

// Home page three navigation
.home-three .navbar-details .container .brand-logo a img {
  width: 110px;
}
.home-three .navbar-details .container .brand-logo a {
  display: flex;
  padding: 57px 20px;
  float: right;
  padding-right: 40px;
}
.home-three .navbar-details .container .brand-logo {
  padding-right: 0px;
  position: absolute;
}
.home-three-brand-style {
  background-color: #b59a6d;
  content: "";
  position: absolute;
  width: 20%;
  height: 25%;
  right: -14%;
  bottom: 30%;
  border-radius: 28% 21% 100% 0%;
}
// ==========home four==========
.home-four {
  .navbar-details {
    background-color: transparent;
    top: 10px;
    .container {
      background-color: $whiteColor;
      padding: 12px 24px 12px 12px;
      .brand-logo {
        background-color: transparent;
        position: static;
        top: 0px;
        left: 0;
        padding-right: 0px;
        height: auto;
        a {
          display: block;
          padding: 0px;
          float: right;
          padding-right: 0;
        }
      }
    }
  }
}
.search-container form {
  background-color: $secondaryColor;
  display: flex;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 30px;
  align-items: center;
  position: relative;
  max-width: 170px;
}
.search-container form input {
  width: 0;
  outline: 0;
  border: 0;
  transition: 0.8s;
  background-color: transparent;
}
.search-container form.active input {
  width: 100%;
  padding: 0 5px;
}
.search-container form button {
  outline: none;
  border: none;
  background-color: transparent;
  transition: 0.8s;
}
form button:hover {
  transform: scale(1.1);
  color: $whiteColor;
}
.home-four .navbar-details.active {
}
/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */

@media screen and (min-width: 320px) and (max-width: 576px) {
  .navbar-details .container {
    padding-left: 12px;
  }
  .navbar-details .container .brand-logo a {
    padding: 0;
    float: left;
    padding-right: 0px;
  }
  .navbar-details .container .brand-logo a img {
    width: 90px;
  }
  .navbar-details .container .brand-logo {
    padding: 10px;
    height: auto;
    position: static;
  }
  .navbar-details .container .nav-item .nav-link .dash-icons {
    display: block;
  }
  .navbar-details .container .nav-item .nav-link .plus-icons {
    display: block;
  }
  .home-four .navbar-details .search-button {
    flex-direction: column;
  }
  div#navbarSupportedContent {
    margin-top: 20px;
  }
  .icons {
    display: none;
  }
  .home-three-brand-style {
    display: none;
  }
  .home-three .navbar-details .container .brand-logo a {
    padding: 2px 5px;
  }
  .home-three .navbar-details .container .brand-logo {
    padding-right: 0px;
    position: static;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .navbar-details .container .brand-logo {
    position: static;
    height: auto;
    padding: 10px;
  }
  .navbar-details .container .brand-logo a {
    display: flex;
    padding: 0px;
    float: left;
    padding-right: 0px;
  }
  .navbar-details .container .brand-logo a img {
    width: 90px;
  }
  .navbar-details .container {
    padding-left: 0px;
  }
  div#navbarSupportedContent {
    margin-top: 20px;
  }
  .navbar-details .cityWall-btn a {
    margin: 0 auto;
    padding: 10px 40px;
  }
  .icons {
    display: none;
  }
  .navbar-details .container .nav-item .nav-link .plus-icons {
    display: block;
  }
  .home-three .navbar-details .container .brand-logo a {
    padding: 10px;
  }
  .home-three .navbar-details .container .brand-logo {
    position: static;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-details .container .brand-logo {
    position: static;
    height: auto;
    padding: 10px;
  }
  .navbar-details .container .brand-logo a {
    padding: 0;
    float: left;
    padding-right: 0;
  }
  .navbar-details .container {
    padding-left: 0;
  }
  .navbar-details .container .brand-logo a img {
    width: 120px;
  }
  div#navbarSupportedContent {
    margin-top: 20px;
  }
  .navbar-details .container .nav-item .nav-link .plus-icons {
    display: block;
  }
  .navbar-details .cityWall-btn a {
    margin: 0 auto;
    padding: 10px 50px;
  }
  .icons {
    display: none;
  }
  .home-three .navbar-details .container .brand-logo {
    position: static;
  }
  .home-three-brand-style {
    display: none;
  }
  .home-three .navbar-details .container .brand-logo a {
    padding: 0px 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-details .container {
    padding-left: 0;
  }
  .navbar-details .container .brand-logo {
    position: static;
    left: 0;
    padding-right: 0;
    height: auto;
    padding: 20px;
  }
  .navbar-details .container .brand-logo a {
    padding: 0;
    float: left;
    padding-right: 0;
  }
  .icons {
    display: none;
  }
  div#navbarSupportedContent {
    justify-content: space-between;
    margin-left: 15px;
  }
  .home-three .navbar-details .container .brand-logo {
    position: static;
  }
  .home-three .navbar-details .container .brand-logo a {
    padding: 0px 10px;
  }
  .home-three-brand-style {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  div#navbarSupportedContent {
    justify-content: space-between;
  }
}
