*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-weight: 400;
}

section {
  margin: 100px 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

span.small-circle-start {
  position: relative;
  margin-right: 30px;

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px dashed #b59a6d;
    left: 8px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    animation: circle 2s linear infinite;
    @keyframes circle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px dashed #b59a6d;
    left: 0;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    animation: circleTwo 2s linear infinite;
    @keyframes circleTwo {
      0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

span.small-circle-end {
  position: relative;
  margin-left: 10px;
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px dashed #b59a6d;
    left: 8px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    animation: circle 2s linear infinite;
    @keyframes circle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px dashed #b59a6d;
    left: 0;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    animation: circleTwo 2s linear infinite;
    @keyframes circleTwo {
      0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.semi-title {
  color: $secondaryColor;
}

.cover-images-overlay {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
}

.cover-images-overlay-tow {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0% 0% 22% 22%/0% 0% 20% 20%;
  position: absolute;
  height: 100%;
}

.divide-row {
  background-color: #00000047;
  content: "";
  height: 1px;
}
.divide-row-tow {
  background-color: #00000015;
  content: "";
  height: 1px;
  width: 55%;
}
.divide-column {
  background-color: $secondaryColor;
  content: "";
  height: 100%;
  width: 3px;
}

.videos-style {
  a {
    display: flex;
    align-items: center;
    column-gap: 25px;

    i {
      background-color: $secondaryColor;
      color: $whiteColor;
      font-size: 35px;
      padding: 5px 16px;
      border-radius: 50%;
    }

    span {
      color: $raisinBlackColor;
      font-size: 18px;
      line-height: 30px;
      font-weight: 500;
    }
  }
}

.videos-style-big {
  a {
    display: flex;
    align-items: center;
    column-gap: 25px;
    justify-content: center;

    i {
      background-color: $secondaryColor;
      color: $whiteColor;
      font-size: 40px;
      padding: 5px 16px;
      border-radius: 50%;
      box-shadow: 0px 0px 2px 9px #887d7aba;
    }

    span {
      color: $raisinBlackColor;
      font-size: 18px;
      line-height: 30px;
      font-weight: 500;
    }
  }
}
.sentence-underline {
  position: relative;
  display: inline-block;
  h4::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.506);
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

// =========== home two pages===========
.home-two {
  background-color: $richBlack;
  color: $whiteColor;
}
.home-two .divide-row {
  background-color: rgb(129 124 124 / 22%);
}
.home-two .our-testimonials p {
  color: $testimonialParaColor;
}
.home-two .divide-row-tow {
  background-color: rgb(102 98 98 / 26%);
}
/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */

@media screen and (min-width: 320px) and (max-width: 576px) {
  section {
    margin: 50px 0px;
  }
  .divide-row-tow {
    width: 40%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  section {
    margin: 50px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  section {
    margin: 50px 0px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
}
