@mixin brand-style-css {
    background-color: $whiteColor;
    content: "";
    position: absolute;
    width: 100px;
    height: 87px;
    right: 0;
    bottom: 0;
}

@mixin square-style {
    content: '';
    background-color: $secondaryColor;
    width: 10px;
    height: 10px;
}


// add style করার নিয়ম
// .about button {
//     @include flex-container-row;
// }



// ==============Responsive classes==============
// Responsive: start 240px end: 1368px
@media (min-width: 240px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}