// Mixin for a flex container
@mixin flex-container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin brand-style-css {
    background-color: $whiteColor;
    position: absolute;
    content: "";
    width: 100px;
    height: 86.5px;
    z-index: 1;
    right: 0;
    top: 76px;
}

@mixin square-style {
    content: '';
    background-color: $secondaryColor;
    width: 10px;
    height: 10px;
    // left: 0;
    position: absolute;
}

// add style করার নিয়ম
// .about button {
//     @include flex-container-row;
// }



// ==============Responsive classes==============
@media (max-width: 576px) {
    header .navbar-details .container .brand-logo .brand-style {
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    header .navbar-details .container .brand-logo .brand-style {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    header .navbar-details .container .brand-logo .brand-style {
        display: none;
    }
}

@media (min-width: 993px) and (min-width: 1200px) {}

@media (min-width: 1200px) and (max-width: 1400px) {}