// Colors
$secondaryColor: #b59a6d;
$whiteColor: #fff;
$blackColor: #000;
$redColor: #e41e2f;
$davysGrayColor: #505050;
$raisinBlackColor: #292930;




// Google fonts
$raleway-font: "Raleway", sans-serif;
$manrope-font: "Manrope", sans-serif;
$josefin-font: "Josefin Sans", sans-serif;
$roboto-font: "Roboto", sans-serif;
$jost-font: "Jost", sans-serif;

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

// .jost-<uniquifier> {
//     font-family: "Jost", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
// }


// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

// .raleway-<uniquifier> {
//     font-family: "Raleway", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
// }

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 800

// .manrope-<uniquifier> {
//     font-family: "Manrope", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
// }

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 700

// .josefin-sans-<uniquifier> {
//     font-family: "Josefin Sans", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}


// // Spacing
// $base-spacing: 16px;
// $small-spacing: 8px;
// $large-spacing: 24px;