// Colors
$whiteColor: #fff;
$blackColor: #000;
$redColor: #e41e2f;
$secondaryColor: #b59a6d;




// Fonts
$primary-font: 'Myriad Pro Regular';

// Google fonts
// font-family: "Helvetica W01 Light";

// .inknut-antiqua-light {
//     font-family: "Inknut Antiqua", serif;
//     font-weight: 300;
//     font-style: normal;
// }

// .inknut-antiqua-regular {
//     font-family: "Inknut Antiqua", serif;
//     font-weight: 400;
//     font-style: normal;
// }

// .inknut-antiqua-medium {
//     font-family: "Inknut Antiqua", serif;
//     font-weight: 500;
//     font-style: normal;
// }

// .inknut-antiqua-semibold {
//     font-family: "Inknut Antiqua", serif;
//     font-weight: 600;
//     font-style: normal;
// }

// .inknut-antiqua-bold {
//     font-family: "Inknut Antiqua", serif;
//     font-weight: 700;
//     font-style: normal;
// }

// .inknut-antiqua-extrabold {
//     font-family: "Inknut Antiqua", serif;
//     font-weight: 800;
//     font-style: normal;
// }

// .inknut-antiqua-black {
//     font-family: "Inknut Antiqua", serif;
//     font-weight: 900;
//     font-style: normal;
// }


// // Spacing
// $base-spacing: 16px;
// $small-spacing: 8px;
// $large-spacing: 24px;