// Colors
$primaryColor: #505050;
$secondaryColor: #b59a6d;
$dangerColor: #e41e2f;
$whiteColor: #fff;
$blackColor: #000;
$raisinBlackColor: #292930;
$WhiteSmokeColor: #f7f7f7;
$GainsboroColor: #dfdbdb;
$SilverColor: #c1bfbf;
$whiteSmokeColorTow: #f9f9f9;
$DavysGrayColor: #525459;
$EigengrauColor: #11141b;
$QuickSilver: #a4a4a4;
$EigengrauFooterColor: #10131a;
$richBlack: #0c0f16;
$EigengrauSubscribe: #12151b;
$EigengrauTermConditionBG: #13171f;
$paragraphColor: #8b8b8b;
$bgThirdColor: #0f1219;
$cardThirdColor: #0d1017;

// ======================home two pages======================

$bannerButtonColor: #031136;
$testimonialParaColor: #e8e8e8;
// ======================home three pages======================
$bannerBgColor: #031136;
$homeThreeDownloadCardBgColor: #f3f4f7;

// Google fonts
$raleway-font: "Raleway", sans-serif;
$manrope-font: "Manrope", sans-serif;
$josefin-font: "Josefin Sans", sans-serif;
$roboto-font: "Roboto", sans-serif;
$jost-font: "Jost", sans-serif;
